.manage-users {
    padding: 20px;
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .user-table th, .user-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  .pp_button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .pp_button:hover {
    background-color: #e02e1b;
  }

  .navigation-buttons {
    margin-top: 20px;
    text-align: center;
  }
  
  .navigation-buttons .pp_button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .navigation-buttons .pp_button:hover {
    background-color: #0056b3;
  }